

:root {
  --primary-color: #000;
  --background-color: #fff;
  --text-color: #000;
}

.dark-mode {
  --primary-color: #fff;
  --background-color: #272b2f;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hamburger {
  background-color: #2b3035 !important;
  border-color: #5a5a5a !important;
}

.hamburger:hover {
  background-color: #272b2f !important;
}

.delete {
  padding: 3px 7px 3px 7px !important;
  background-color: transparent !important;
  border: 1px solid #5a5a5a !important;
}

.delete:hover {
  background-color: dimgray !important;
}

.button_link {
  color: white !important;
  text-decoration: none !important;
}

input[type="checkbox"] {
  border: 1px solid #5a5a5a !important;
  background-color: transparent !important;
  height: 25px;
  width: 25px;
}

input[type="checkbox"]:hover {
  background-color: dimgray !important;
}

.footer-link a {
  color: white !important;
  text-decoration: none !important;
}

.footer-link a:hover {
  color: white !important;
  text-decoration: underline !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:hover {
  background-color: #272b2f !important;
}

.footer {
  bottom: 0 !important;
  width: 100% !important;
}

.toggle {
  padding-left: 45px !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}
