.hamburger {
  background-color: #2b3035 !important;
  border-color: #5a5a5a !important;
}

.hamburger:hover {
  background-color: #272b2f !important;
}

.delete {
  padding: 3px 7px 3px 7px !important;
  background-color: transparent !important;
  border: 1px solid #5a5a5a !important;
}

.delete:hover {
  background-color: dimgray !important;
}

.button_link {
  color: white !important;
  text-decoration: none !important;
}

input[type="checkbox"] {
  border: 1px solid #5a5a5a !important;
  background-color: transparent !important;
  height: 25px;
  width: 25px;
}

input[type="checkbox"]:hover {
  background-color: dimgray !important;
}
