@tailwind base;
@tailwind components;
@tailwind utilities;

.w-30-rem {
  width: 26rem;
}

.trash-icon:hover {
    cursor: pointer;
}

input[type="checkbox"] {
  background-color: transparent !important;
  height: 25px;
  width: 25px;
}

input[type="checkbox"]:hover {
  background-color: #5a5a5a !important;
  height: 25px;
  width: 25px;
}
