@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {width: auto!important; overflow-x: hidden!important}

.w-23-rem {
  width: 27rem;
}

.trash-icon:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  background-color: transparent !important;
}